* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    
    display: flex;

    
    
}

.navbar-items{
    display: flex;
   
    /* border: solid red 2px; */
    align-items: center;
    gap: 20px;
    /*max-width: 1300px;*/
    margin: auto;
}



li {
    
    list-style: none;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

li div {
    
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.brand-logo {
    margin: 10px; 
    height: 3.5rem;
    /* border: solid blue 2px; */
}

.logo {
    height: 3.5rem;
    /* margin-right: 60px; */
    /* background-color: antiquewhite;
    border: solid red 2px; */
}

.menu-toggle {
    margin-left: 60px;
  background: #28a745;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  padding: 0;
  z-index: 10;



  /* border: solid black 1px; */
  border-radius: 5px;
  padding: 10px;
}

/* Individual Lines */
.hamburger-line {
  /* width: 100%; */
  height: 1px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out; /* Smooth transition for animations */
}

.line1 {
    width: 80%;
}

.line2 {
    width: 100%;
}

.line3 {
    width: 50%;
}

 .navbar-link-sub {
    background-color: white;
    display: flex;
    gap: 15px;
    display: none;
    position: absolute;
    top: 60px;
    /* border: 1px solid black; */
    border-radius: 5px;
    /* padding: 1rem; */
    /* background-color: rgb(159, 236, 211); */
    box-shadow: 2px 2px 10px rgba(34, 31, 31, .2);
}
.navbar-link {
    cursor: pointer;
}
.navbar-link:hover :last-child {
    display: block;
}

.navbar-link li {
    padding: 1rem 2rem;
    width: 100%;

}

.navbar-link li:hover {
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    cursor: pointer;
}

/*-------------- END OF NAVBAR------------*/

.front-image {
    background: url("IMGS/7a16c4b6-3bad-4b3e-b892-4c8a2cbb28f0699050605.png");
    /* height: calc(100vh - 60px); */
    height: 100%;
    background-size: cover;
    background-position: bottom;
}

/* --------------FOOTER--------------- */
footer {

}

.footer-container {
    display: flex;
    padding: 30px 15px;
    width: 1000px;
    justify-content: space-around;
    margin: auto;
    
}

.widget-logo img {
    height: 90px;
    margin-bottom: 10px;
}

.social-widget div p{
    line-height: 26px;
}

.social-icons {
    margin-top: 20px;
}
.social-icons ul {
    display: flex;
}

.social-icons ul li {
    margin-right: 8px;
}




.social-icons ul li {
    background-color: rgb(16, 155, 75);
    /* background-color: white; */
    height: 40px;
    width: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.social-icons ul li div {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    
    
}

.social-icons ul li i {
    z-index: 10;
}

.hours-widget {
    width: 310px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}

.hours-widget h4 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.hours-widget ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hours-widget ul li {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    line-height: 10px;
    height: 2rem;
}

.powered-by {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14.4px;
    color: rgb(151, 151, 151)
}


