* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    
    display: flex;

    
    
}

.navbar-items{
    display: flex;
   
    /* border: solid red 2px; */
    align-items: center;
    gap: 20px;
    /*max-width: 1300px;*/
    margin: auto;
}



li {
    
    list-style: none;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

li div {
    
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.brand-logo {
    margin: 10px; 
    height: 3.5rem;
    /* border: solid blue 2px; */
}

.logo {
    height: 3.5rem;
    /* margin-right: 60px; */
    /* background-color: antiquewhite;
    border: solid red 2px; */
}

.menu-toggle {
    margin-left: 60px;
  background: #28a745;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  padding: 0;
  z-index: 10;



  /* border: solid black 1px; */
  border-radius: 5px;
  padding: 10px;
}

/* Individual Lines */
.hamburger-line {
  /* width: 100%; */
  height: 1px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out; /* Smooth transition for animations */
}

.line1 {
    width: 80%;
}

.line2 {
    width: 100%;
}

.line3 {
    width: 50%;
}

 .navbar-link-sub {
    display: flex;
    gap: 15px;
    display: none;
    position: absolute;
    top: 60px;
    /* border: 1px solid black; */
    border-radius: 5px;
    /* padding: 1rem; */
    /* background-color: rgb(159, 236, 211); */
    box-shadow: 2px 2px 10px rgba(34, 31, 31, .2);
}
.navbar-link {
    cursor: pointer;
}
.navbar-link:hover :last-child {
    display: block;
}

.navbar-link li {
    padding: 1rem 2rem;
    width: 100%;

}

.navbar-link li:hover {
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    cursor: pointer;
}